
.general{
    padding: 4em 2em 3em;
   
}

p{
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    margin-top: -10px;
    line-height: 1.625;
    font-weight: 500;
    
}

.comienzo{
    font-size: 25px;
    color: #0288d1;
}

hr {
    /* color: #0288d1; */
    border-color: #0288d1; 
    color-interpolation-filters: auto;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: -1em;
    margin-block-end: 2em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
    /* opacity: 70%; */

}
