.general{
    
    font-family: 'Spartan';
    font-size: 15px;
    
}


h3{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:oblique 20deg;
    font-size: 23px;
    color: #0288d1;  
}

p{
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    margin-top: -25px;
    line-height: 1.625;
    font-weight: 500;
    
}